* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

.counterSection {
  background-color: paleturquoise;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

h1 {
  font-size: 4rem;
}

.button {
  font-size: 2rem;
  width: 50%;
  padding: 5px 10px;
  margin: 10px;
}